<!DOCTYPE html>
<html lang="fr">
<%- include('head.ejs') %>
<body>
  <div id="login-container">
    <form
      action="/interaction/<%= uid %>/consent"
      method="GET"
    >
      <div class="text-center">
        <h1>Onche Connect</h1>
      </div>

      <% if (error) { %>
        <div class="error"><%= error %></div>
      <% } %>

      <button type="submit" class="btn-primary" id="login-btn">Autoriser</button>

      <div class="footer-text">
        En continuant, vous acceptez de ne pas être une salope.
      </div>
    </form>
  </div>
</body>
</html>
